In [2]:
import pandas as pd

2018

In [4]:
df18 = pd.read_csv('../data/Nov 2018 General results.csv')
df18

,COUNTY,PRCTSEQ,PRECINCT,BALSEQID,JURISID,SECJURISID,CANDGROUP,OFFICENAME,ELECTDATE,ELECTTYPE,...,PARTY8,PVTALLY8,COL9HDG,RNAME9,PARTY9,PVTALLY9,COL10HDG,RNAME10,PARTY10,PVTALLY10
0,Anderson,1,Andersonville,5,0,0,1,Governor,2018-11-06,State General,...,Independent,0.0,9.0,Cory King,Independent,1.0,10.0,Matthew Koch,Independent,1.0
1,Anderson,1,Andersonville,5,0,0,2,Governor,2018-11-06,State General,...,Independent,2.0,19.0,George Blackwell Smith IV,Independent,0.0,20.0,Jeremy Allen Stephenson,Independent,1.0
2,Anderson,1,Andersonville,5,0,0,3,Governor,2018-11-06,State General,...,Independent,0.0,29.0,Write-In - Eddie Murphy,NaN,0.0,NaN,NaN,NaN,NaN
3,Anderson,1,Andersonville,7,0,0,0,United States Senate,2018-11-06,State General,...,Independent,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anderson,1,Andersonville,11,3,0,0,United States House of Representatives District 3,2018-11-06,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13237,Wilson,33,Provisional,7,0,0,0,United States Senate,2018-11-06,State General,...,Independent,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13238,Wilson,33,Provisional,11,6,0,0,United States House of Representatives District 6,2018-11-06,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13239,Wilson,33,Provisional,15,17,0,0,Tennessee Senate District 17,2018-11-06,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13240,Wilson,33,Provisional,17,46,0,0,Tennessee House of Representatives District 46,2018-11-06,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13241,Wilson,33,Provisional,17,57,0,0,Tennessee House of Representatives District 57,2018-11-06,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
gov18 = df18[df18['OFFICENAME'] == 'Governor'].copy()
gov18.shape

(5964, 50)

In [8]:
vote_cols_18 = [c for c in gov18.columns if c.startswith('PVTALLY')]

In [9]:
gov18['total_votes'] = gov18[vote_cols_18].sum(axis=1)

In [10]:
gov18[['COUNTY', 'PRECINCT', 'total_votes']].head()

     COUNTY       PRECINCT  total_votes
0  Anderson  Andersonville       1264.0
1  Anderson  Andersonville          3.0
2  Anderson  Andersonville          0.0
7  Anderson     Briceville        238.0
8  Anderson     Briceville          2.0

In [12]:
def clean_text(col):
    return col.str.upper().str.strip()

In [14]:
for df in [gov18]:
    df['COUNTY'] = clean_text(df['COUNTY'])
    df['PRECINCT'] = clean_text(df['PRECINCT'])

In [17]:
county18 = gov18.groupby('COUNTY', as_index=False)['total_votes'].sum()
county18

        COUNTY  total_votes
0     ANDERSON      26040.0
1      BEDFORD      13049.0
2       BENTON       5346.0
3      BLEDSOE       4072.0
4       BLOUNT      46775.0
..         ...          ...
90       WAYNE       4731.0
91     WEAKLEY       9892.0
92       WHITE       8444.0
93  WILLIAMSON     105654.0
94      WILSON      53067.0

[95 rows x 2 columns]

In [18]:
county18.to_csv('cleaned_2018_governor_turnout_by_county.csv', index=False)

2022

In [21]:
df22 = pd.read_csv('../data/Nov 2022 All results.csv')
df22

,COUNTY,PRCTSEQ,PRECINCT,BALSEQID,JURISID,SECJURISID,CANDGROUP,OFFICENAME,ELECTDATE,ELECTTYPE,...,PARTY8,PVTALLY8,COL9HDG,RNAME9,PARTY9,PVTALLY9,COL10HDG,RNAME10,PARTY10,PVTALLY10
0,Lauderdale,1,Henning 1,5,0,0,1,Governor,2022-11-08,State General,...,Independent,9.0,9.0,Michael E. Scantland,Independent,0.0,10.0,Rick Tyler,Independent,0.0
1,Lauderdale,1,Henning 1,5,0,0,2,Governor,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lauderdale,1,Henning 1,6,0,1,0,Constitutional Amendment # 1,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lauderdale,1,Henning 1,6,0,2,0,Constitutional Amendment # 2,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lauderdale,1,Henning 1,6,0,3,0,Constitutional Amendment # 3,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16180,Humphreys,8,7-8 North McEwen,6,0,4,0,Constitutional Amendment # 4,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16181,Humphreys,8,7-8 North McEwen,11,7,0,0,United States House of Representatives District 7,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16182,Humphreys,8,7-8 North McEwen,15,23,0,0,Tennessee Senate District 23,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16183,Humphreys,8,7-8 North McEwen,17,74,0,0,Tennessee House of Representatives District 74,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16184,Van Buren,1,Spencer 1,17,31,0,0,Tennessee House of Representatives District 31,2022-11-08,State General,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
gov22 = df22[df22['OFFICENAME'] == 'Governor'].copy()
gov22.shape

(3702, 50)

In [23]:
vote_cols_22 = [c for c in gov22.columns if c.startswith('PVTALLY')]

In [24]:
gov22['total_votes'] = gov22[vote_cols_22].sum(axis=1)

In [25]:
gov22[['COUNTY', 'PRECINCT', 'total_votes']].head()

        COUNTY         PRECINCT  total_votes
0   Lauderdale        Henning 1        396.0
1   Lauderdale        Henning 1          0.0
8      Johnson        1A Laurel        558.0
9      Johnson        1A Laurel          0.0
17     Johnson  1B Cold Springs        543.0

In [26]:
def clean_text(col):
    return col.str.upper().str.strip()

In [27]:
for df in [gov22]:
    df['COUNTY'] = clean_text(df['COUNTY'])
    df['PRECINCT'] = clean_text(df['PRECINCT'])

In [28]:
county22 = gov22.groupby('COUNTY', as_index=False)['total_votes'].sum()
county22

        COUNTY  total_votes
0     ANDERSON      21280.0
1      BEDFORD      10594.0
2       BENTON       4103.0
3      BLEDSOE       3408.0
4       BLOUNT      39606.0
..         ...          ...
90       WAYNE       3573.0
91     WEAKLEY       8129.0
92       WHITE       6970.0
93  WILLIAMSON      85417.0
94      WILSON      44552.0

[95 rows x 2 columns]

In [29]:
county22.to_csv('cleaned_2022_governor_turnout_by_county.csv', index=False)